@font-face {
  font-family: 'futura_medium';
  src: url(../fonts/futura_std_medium.eot);
  src: url(../fonts/futura_std_medium.eot?#iefix) format('embedded-opentype'),
       url(../fonts/futura_std_medium.woff) format('woff'),
       url(../fonts/futura_std_medium.ttf) format('truetype'),
       url(../fonts/futura_std_medium.svg#webfont) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gillsans';
  src: url(../fonts/gillsans.eot);
  src: url(../fonts/gillsans.eot?#iefix) format('embedded-opentype'),
       url(../fonts/gillsans.woff) format('woff'),
       url(../fonts/gillsans.ttf) format('truetype'),
       url(../fonts/gillsans.svg#webfont) format('svg');
  font-weight: 300;
  font-style: normal;
}