
/* ! PRIMARY STYLES */
html, body{width:100%; min-width:640px; }
body {
	font: $fontArial12; color:#fff;
	background: #000;
}
a{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  width: 640px;
  margin: 0 auto;
  position: relative;
}

.form-horizontal{
  width: 258px;
  margin: 15px auto;
  &.success{
    display: none;
  }
  .form-group{
    input[type="text"]{
      width: 233px;
      height: 31px;
      border: 1px solid #fff;
      padding: 0 12px;
      border-radius: 4px;
      margin-bottom: 8px;
      outline: none;
      @include gillsans(12px);
      &::-webkit-input-placeholder{ /* WebKit browsers */
          color:    #000;
      }
      &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
          color:    #000;
      }
      &::-moz-placeholder{ /* Mozilla Firefox 19+ */
          color:    #000;
      }
      &:-ms-input-placeholder{ /* Internet Explorer 10+ */
          color:    #000;
      }
      &.error{
        border: 1px solid red;
      }
    }
    button[type="submit"]{
      background: #9f845c;
      border: 1px solid #9f845c!important;
      border: none;
      @include futura_medium(14px);
      color: #fff; 
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      outline: none;
    }
  }
}
.alert{
  @include futura_medium(16px);
  padding-bottom: 0px;
  padding-top: 15px;
  color: #fff;
  text-align: center;
}